.card-img-top-type{

}

.card-description-type{

}

.card-description-type h2 {
  font-size: 24px;
}

.card-description-type p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-link-type:hover {
  opacity: 0.1;
}

.parent-container {
  display:flex;
}
